.body {
  padding: 20px;
}

.bodyTitle {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #9f9f9f;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bodyUpper {
  flex: 1;
}

.imageCarousel {
  display: flex;
  overflow: hidden;
  position: relative;
  gap: 1em;
  width: 100%;
}

.oneImageCarousel {
  width: 20em;
  height: 20em;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
  animation: scroll 15s linear infinite;
}

.oneImageCarousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imageCarrouselInfo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 80%;

  color: white;
  background: rgba(75, 103, 55, 0.65);
  padding: 5px;
  padding-left: 0.5em;
  border-radius: 5px;
  font-size: 1.2em;
}
.starRaiting {
  color: yellow;
}

/* Animación para evitar espacios vacíos al final */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 1em));
  }
}

@media (max-width: 600px) {
  .imageCarousel {
    gap: 0.5em;
  }

  .oneImageCarousel {
    width: 15em;
    height: 15em;
  }

  .bodyTitle {
    font-size: 18px;
  }
  .imageCarrouselInfo {
    font-size: 0.9em;
  }
}
