.settingsContainer {
  background-color: #e4f3e2;
  padding: 2em;
  max-width: 900px;
  margin: 2em auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5em;
  color: #204e37;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5em;
}

.personalInfo {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

.userImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
}

.userImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex-grow: 1;
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.deactivateButton {
  background-color: #f3f0b2;
  color: #555;
  border: 1px solid #f3f0b2;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deactivateButton:hover {
  background-color: #e2db88;
}

.deleteButton {
  background-color: #f67924;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #e5661c;
}

.notifications {
  margin-top: 2em;
}

.notifications h2 {
  font-size: 1.5em;
  color: #204e37;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.notificationItem label {
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxCon {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* Oculta el input real */
.checkboxCon input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del switch */
.switchSlider {
  position: relative;
  cursor: pointer;
  width: 48px;
  height: 27px;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.switchSlider::before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.checkboxCon input:checked + .switchSlider {
  background-color: #02c202;
}

.checkboxCon input:checked + .switchSlider::before {
  transform: translateX(20px);
}

.checkboxCon label {
  margin-left: 15px;
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  user-select: none;
  color: #204e37;
}

.switchSlider:hover {
  background-color: #bfbfbf;
}

.deactivateButton,
.deleteButton {
  background-color: #f67924;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deactivateButton:hover,
.deleteButton:hover {
  background-color: #e5661c;
}
