.review {
    position: absolute;
    top: 0;
    left: 65px;
    background-color: #D8EECE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 450px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.reviewTitle {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #F67924;
    text-align: left;
    margin-left: 60px;
}

.placeTitle {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #476930;
    text-align: center;
    margin-bottom: 10px;
}

.reviewInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ratingValue {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem; 
    margin-left: 5px; 
    margin-top: 5px; 
}

.ratingIcon { 
    width: 36px; 
    height: auto; 
    margin-right: 3px; 
}
    
.ratePlace { 
    display: flex; 
    align-items: center; 
    margin-left: 40px; 
    margin-bottom: 20px; 
}
    
.ratePlaceText { 
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
     font-size: 16px; 
     color: black; 
    }
    
.stars {
    display: flex;
    margin-left: 10px; 
}
    
.starIcon { 
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
    margin-right: 5px; 
}

.starIcon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.commentSection {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.commentTextarea {
    background-color: #D8EECE;
    width: 90%;
    height: 100px;
    border: 2px solid #476930;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    resize: none; 
}

.commentTextarea:focus {
    outline: none; 
}

    